.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
header, main, footer {
    padding-left: 300px;
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
.container {
    width: 85%;
    padding-left: 0;
}
nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
img, video {
    display: block;
    width: 100%;
    height: auto;
    padding: 3px;
}
.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
    color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}
.wider {
    flex: 1 0 auto;
    overflow: hidden;
}
.meme-icon {
    font-size: 30px;
    vertical-align: middle;
    line-height: 3;
}
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.jssorb057 .i {
    position: absolute;
    cursor: pointer;
}
.jssorb057 .i .b {
    fill: none;
    stroke: #fff;
    stroke-width: 2000;
    stroke-miterlimit: 10;
    stroke-opacity: 0.4;
}
.jssorb057 .i:hover .b {
    stroke-opacity: .7;
}
.jssorb057 .iav .b {
    stroke-opacity: 1;
}
.jssorb057 .i.idn {
    opacity: .3;
}
.jssora073 {
    display: block;
    position: absolute;
    cursor: pointer;
}
.jssora073 .a {
    fill: #ddd;
    fill-opacity: .7;
    stroke: #000;
    stroke-width: 160;
    stroke-miterlimit: 10;
    stroke-opacity: .7;
}
.jssora073:hover {
    opacity: .8;
}
.jssora073.jssora073dn {
    opacity: .4;
}
.jssora073.jssora073ds {
    opacity: .3;
    pointer-events: none;
}
.collection-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
}
.button-grid-container {
    display: grid;
    grid-template-rows: auto;
}