<ul id="userMenu" class="dropdown-content wider" style="overflow: hidden!important">
    <li>
        <div class="login-register-grid-container">
            <div class="row">
                <button class="btn col s5" style="text-align: center" onclick="switchFormTo('Login')">Login</button>
                <div class="col s2"></div>
                <button class="btn col s5" style="text-align: center" onclick="switchFormTo('Register')">Register</button>
            </div>
        </div>
        
        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <div id="formBanner" class="indigo-text" style="text-align: center; font-size: 50px; margin-top: 10px; margin-bottom: 30px;"> Login </div>
                <form class="col s12" method="post" id="credentialsForm">
                    <div class="row">
                        <div class="col s12">
                            <div id="errorMsg" style="color: red;">Credentials are incorrect!</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Username" name="Username" class="validate" type="text"/>
                            <label for="Username">Enter your username</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Password" name="Password" class="validate" type="password"/>
                            <label for="Password">Enter your password</label>
                        </div>
                    </div>

                    <br/>
                    <div class="row">
                        <input id="submitButton" type="submit" class="col s12 btn btn waves-effect indigo" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>
<script type="text/javascript">
    var url = "/Login";

    function switchFormTo(switchTo) {
        if (switchTo === "Login") {
            url = "/Login";
            $("#formBanner").text(switchTo);
            $("#submitButton").val(switchTo);
        } else if (switchTo === "Register") {
            url = "/Register";
            $("#formBanner").text(switchTo);
            $("#submitButton").val(switchTo);
        } else {
            M.toast({ html: "Something happened, try again later..." });
        }
    }
    $(document).ready(function () {
        $('#errorMsg').hide();
        url = "/Login";
        $('#credentialsForm').on("submit", function (event) {
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: JSON.stringify(getFormData($(this))),
                success: function (data) {
                    if (data.success === true) {
                        if (data.loggedin) {
                            M.toast({ html: "Login successful, redirecting to home page.." });

                        } else {
                            M.toast({ html: "Register successful, redirecting to home page..!" });
                        }
                        window.location.href = '/'; // refresh page..
                    }
                    else {
                        $('#errorMsg').show();
                    }
                },
                error: function () {
                    console.log("credentialsForm resulted faulty..");
                }
            });
            event.preventDefault();
        });
    });
</script>