@model LoginViewModel

<ul id="userMenu" class="dropdown-content wider" style="overflow: hidden!important">
    <li> 
        <h5 class="indigo-text" style="text-align: center">Login</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
                <form class="col s12" method="post" id="loginForm">
                    <div class="row">
                        <div class="col s12">
                            <div id="errorMsg" style="color: red;">Credentials are incorrect!</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Username" class="validate" type="text" asp-for="Username" />
                            <label asp-for="Username">Enter your username</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Password" class="validate" type="password" asp-for="Password" />
                            <label asp-for="Password">Enter your password</label>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <input type="submit" class="col s12 btn btn waves-effect indigo" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>
<script type="text/javascript">
    $(document).ready(function () {
        $('#errorMsg').hide();
        $('#loginForm').on("submit", function (event) {
            $.ajax({
                type: "POST",
                url: "/Login",
                contentType: "application/json; charset=utf-8",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                data: JSON.stringify(getFormData($(this))),
                success: function (data) {
                    if (data.authenticated === true) {
                        if (data.returnurl !== undefined)
                            window.location.href = data.returnurl;
                        else
                            window.location.href = '/';
                    }
                    else {
                        $('#errorMsg').show();
                    }
                },
                error: function () {
                    console.log("LoginForm resulted faulty..");
                }
            });
            event.preventDefault();
        });
    });
    function getFormData($form) {
        var unindexedArray = $form.serializeArray();
        var indexedArray = {};

        $.map(unindexedArray, function (n, i) {
            indexedArray[n['name']] = n['value'];
        });

        return indexedArray;
    }
</script>