<ul id="userMenu" class="dropdown-content wider" style="overflow: hidden!important">
    <li> Profile Settings </li>
    <li> My collections </li>
    <li> Friends </li>
    <li> Shared memes </li>
    <li>
        <input type="button" value="Logout" onclick="location.href='@Url.Action("LogoutAsync", "Account")'" />
    </li>
</ul>