@model IEnumerable<Meme>

@{
    ViewData["Title"] = "Home";
}

<div class="infinite-scroll">
    @foreach (Meme meme in Model)
    {
        await Html.RenderPartialAsync("Meme", meme);
    }
</div>
<div id="loading" class="preloader-background">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/lazyLoading.js"></script>

    <script type="text/javascript">
        $(function () {
            $("div#loading").hide();
        });
        var url = '@this.Url.Action("MemeAsync")';
        $(window).scroll(scrollHandler);
    </script>
}