@model CollectionViewModel 

<h2>@Model.Collection.Name</h2>

<div>
    @foreach (CollectionItemDetailDto collectionItemDetail in Model.Collection.CollectionItemDetails)
    {
        await Html.RenderPartialAsync("../Meme/Meme", collectionItemDetail.Meme);
    }
</div>