@model IEnumerable<CollectionDto>
@{
    ViewData["Title"] = "Collections";
}

<h2>Collections</h2>

@foreach (CollectionDto collection in Model)
{
    await Html.RenderPartialAsync("CollectionCarousel", new CollectionCarouselViewModel(collection, true));
}
