@model Collection

<div>
    <h3>@Model.Name</h3>
    <div class="carousel">
        @foreach (CollectionItemDetail collectionItemDetail in Model.CollectionItemDetails)
        {
            <a class="carousel-item" href="#@collectionItemDetail.Meme.Id"><img src="@collectionItemDetail.Meme.ImageUrl"></a>
        }
    </div>
    <button value="View collection"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel();
    });
</script>