@model MyCollectionsViewModel

<h2>My collections</h2>

@foreach (Collection myCollection in Model.MyCollections)
{
    await Html.RenderPartialAsync("CollectionCarousel", new CollectionPresenterViewModel(myCollection, false));
}

<h2>My subscribed collections</h2>
@foreach (Collection mySubscribedCollection in Model.SubscribedCollections)
{
    await Html.RenderPartialAsync("CollectionCarousel", new CollectionPresenterViewModel(mySubscribedCollection, false));
}