@model MyCollectionsViewModel

<h2>MyCollections</h2>

@foreach (Collection myCollection in Model.MyCollections)
{
    await Html.RenderPartialAsync("Collection", myCollection);
}

<h2>MySubscribedCollections</h2>
@foreach (Collection mySubscribedCollection in Model.SubscribedCollections)
{
    await Html.RenderPartialAsync("Collection", mySubscribedCollection);
}